In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
df_surat = pd.read_csv('data_preprocess/raw_data/surat_data.csv', parse_dates=["timestamp"], index_col="timestamp")
df_surat = df_surat.sort_values(by="timestamp")
df_surat['dayofweek'] = df_surat.index.dayofweek
df_surat['month'] = df_surat.index.month
df_surat['day'] = df_surat.index.day
# Drop NaN values caused by shifting
df_surat.dropna(inplace=True)
df_surat = df_surat.drop(columns=["Unnamed: 0", "timezone", "pm_2_5_sp"], axis=1)
df_surat = df_surat[(np.abs(stats.zscore(df_surat['humidity'])) < 3)]  # ลบค่าผิดปกติออก
df_surat = df_surat[(np.abs(stats.zscore(df_surat['temperature'])) < 3)]  # ลบค่าผิดปกติออก
df_surat = df_surat[(np.abs(stats.zscore(df_surat['pm_2_5'])) < 3)]  # ลบค่าผิดปกติออก
# Create lag features for the past 7 days
for lag in range(1, 8):  # Lags from 1 to 7 days
    df_surat[f'pm_2_5_lag_{lag}'] = df_surat['pm_2_5'].shift(lag)

In [3]:
df_surat.describe()

,humidity,pm_2_5,temperature,dayofweek,month,day,pm_2_5_lag_1,pm_2_5_lag_2,pm_2_5_lag_3,pm_2_5_lag_4,pm_2_5_lag_5,pm_2_5_lag_6,pm_2_5_lag_7
count,25863.000000,25863.000000,25863.000000,25863.000000,25863.000000,25863.000000,25862.000000,25861.000000,25860.000000,25859.000000,25858.000000,25857.000000,25856.000000
mean,81.792955,23.142502,28.858913,3.012566,6.394270,15.697444,23.142169,23.141833,23.141148,23.140400,23.139622,23.138871,23.138304
std,14.864375,13.690111,3.080320,2.001458,3.554239,8.799100,13.690271,13.690429,13.690251,13.689987,13.689680,13.689412,13.689373
min,37.254628,0.000000,20.981260,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,71.295685,11.833333,26.447233,1.000000,3.000000,8.000000,11.833333,11.833333,11.833333,11.833333,11.833333,11.833333,11.833333
50%,83.817064,21.733333,28.126200,3.000000,6.000000,16.000000,21.733333,21.733333,21.732213,21.731092,21.729953,21.728814,21.728814
75%,94.768443,32.907948,30.950287,5.000000,10.000000,23.000000,32.908141,32.908333,32.907756,32.907563,32.905672,32.900000,32.900000
max,100.000000,68.420168,38.147769,6.000000,12.000000,31.000000,68.420168,68.420168,68.420168,68.420168,68.420168,68.420168,68.420168

In [4]:
df_surat.to_csv("data_preprocess/clean_data/clean_surat.csv", index=True, encoding="utf-8")

In [5]:
df_engineer = pd.read_csv('data_preprocess/raw_data/export-pm25_eng-1h.csv', parse_dates=["timestamp"], index_col="timestamp")
df_engineer = df_engineer.sort_values(by="timestamp")
df_engineer['dayofweek'] = df_engineer.index.dayofweek
df_engineer['month'] = df_engineer.index.month
df_engineer['day'] = df_engineer.index.day
# Drop NaN values caused by shifting
df_engineer.dropna(inplace=True)
df_engineer = df_engineer.drop(columns=["Unnamed: 0", "timezone", "pm_2_5_sp"], axis=1)
df_engineer = df_engineer[(np.abs(stats.zscore(df_engineer['humidity'])) < 3)]  # ลบค่าผิดปกติออก
df_engineer = df_engineer[(np.abs(stats.zscore(df_engineer['temperature'])) < 3)]  # ลบค่าผิดปกติออก
df_engineer = df_engineer[(np.abs(stats.zscore(df_engineer['pm_2_5'])) < 3)]  # ลบค่าผิดปกติออก
# Create lag features for the past 7 days
for lag in range(1, 8):  # Lags from 1 to 7 days
    df_engineer[f'pm_2_5_lag_{lag}'] = df_engineer['pm_2_5'].shift(lag)

In [6]:
df_engineer.describe()

,humidity,pm_10,pm_2_5,temperature,dayofweek,month,day,pm_2_5_lag_1,pm_2_5_lag_2,pm_2_5_lag_3,pm_2_5_lag_4,pm_2_5_lag_5,pm_2_5_lag_6,pm_2_5_lag_7
count,14316.000000,14316.000000,14316.000000,14316.000000,14316.000000,14316.000000,14316.000000,14315.000000,14314.000000,14313.000000,14312.000000,14311.000000,14310.000000,14309.000000
mean,79.141980,24.073569,20.973409,29.279100,3.001257,6.808187,15.572017,20.973407,20.973346,20.973181,20.971935,20.970776,20.970052,20.969523
std,12.863419,13.758181,12.453584,4.020313,2.013090,3.376392,8.822964,12.454019,12.454452,12.454872,12.454415,12.454078,12.454212,12.454487
min,39.496231,1.684211,1.421053,20.419051,0.000000,1.000000,1.000000,1.421053,1.421053,1.421053,1.421053,1.421053,1.421053,1.421053
25%,68.088602,13.100000,11.266667,26.343114,1.000000,4.000000,8.000000,11.266667,11.266667,11.266667,11.266667,11.266667,11.266667,11.266667
50%,80.581653,22.350000,18.866667,28.371595,3.000000,7.000000,15.000000,18.866667,18.865537,18.864407,18.864407,18.864407,18.864407,18.864407
75%,89.997796,34.000000,29.300000,31.139072,5.000000,10.000000,23.000000,29.300000,29.300000,29.300000,29.300000,29.300000,29.300000,29.300000
max,100.000000,74.716667,60.600000,43.977386,6.000000,12.000000,31.000000,60.600000,60.600000,60.600000,60.600000,60.600000,60.600000,60.600000

In [7]:
df_engineer.to_csv("data_preprocess/clean_data/clean_engineer.csv", index=True, encoding="utf-8")

In [8]:
df_songkla_001 = pd.read_csv('data_preprocess/raw_data/songkla_001-1h.csv', parse_dates=["timestamp"], index_col="timestamp")
df_songkla_001 = df_songkla_001.sort_values(by="timestamp")
df_songkla_001['dayofweek'] = df_songkla_001.index.dayofweek
df_songkla_001['month'] = df_songkla_001.index.month
df_songkla_001['day'] = df_songkla_001.index.day
# Drop NaN values caused by shifting
df_songkla_001.dropna(inplace=True)
df_songkla_001 = df_songkla_001.drop(columns=["Unnamed: 0", "timezone", "pm_2_5_sp"], axis=1)
df_songkla_001 = df_songkla_001[(np.abs(stats.zscore(df_songkla_001['humidity'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_001 = df_songkla_001[(np.abs(stats.zscore(df_songkla_001['temperature'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_001 = df_songkla_001[(np.abs(stats.zscore(df_songkla_001['pm_2_5'])) < 3)]  # ลบค่าผิดปกติออก
# Create lag features for the past 7 days
for lag in range(1, 8):  # Lags from 1 to 7 days
    df_songkla_001[f'pm_2_5_lag_{lag}'] = df_songkla_001['pm_2_5'].shift(lag)

In [9]:
df_songkla_001.to_csv("data_preprocess/clean_data/clean_songkla_001.csv", index=True, encoding="utf-8")

In [10]:
df_songkla_001.describe()

,humidity,pm_2_5,temperature,dayofweek,month,day,pm_2_5_lag_1,pm_2_5_lag_2,pm_2_5_lag_3,pm_2_5_lag_4,pm_2_5_lag_5,pm_2_5_lag_6,pm_2_5_lag_7
count,25863.000000,25863.000000,25863.000000,25863.000000,25863.000000,25863.000000,25862.000000,25861.000000,25860.000000,25859.000000,25858.000000,25857.000000,25856.000000
mean,81.792955,23.142502,28.858913,3.012566,6.394270,15.697444,23.142169,23.141833,23.141148,23.140400,23.139622,23.138871,23.138304
std,14.864375,13.690111,3.080320,2.001458,3.554239,8.799100,13.690271,13.690429,13.690251,13.689987,13.689680,13.689412,13.689373
min,37.254628,0.000000,20.981260,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,71.295685,11.833333,26.447233,1.000000,3.000000,8.000000,11.833333,11.833333,11.833333,11.833333,11.833333,11.833333,11.833333
50%,83.817064,21.733333,28.126200,3.000000,6.000000,16.000000,21.733333,21.733333,21.732213,21.731092,21.729953,21.728814,21.728814
75%,94.768443,32.907948,30.950287,5.000000,10.000000,23.000000,32.908141,32.908333,32.907756,32.907563,32.905672,32.900000,32.900000
max,100.000000,68.420168,38.147769,6.000000,12.000000,31.000000,68.420168,68.420168,68.420168,68.420168,68.420168,68.420168,68.420168

In [11]:
df_songkla_012 = pd.read_csv('data_preprocess/raw_data/songkla_012-1h.csv', parse_dates=["timestamp"], index_col="timestamp")
df_songkla_012 = df_songkla_012.sort_values(by="timestamp")
df_songkla_012['dayofweek'] = df_songkla_012.index.dayofweek
df_songkla_012['month'] = df_songkla_012.index.month
df_songkla_012['day'] = df_songkla_012.index.day
# Drop NaN values caused by shifting
df_songkla_012.dropna(inplace=True)
df_songkla_012 = df_songkla_012.drop(columns=["Unnamed: 0", "timezone", "pm_2_5_sp"], axis=1)
df_songkla_012 = df_songkla_012[(np.abs(stats.zscore(df_songkla_012['humidity'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_012 = df_songkla_012[(np.abs(stats.zscore(df_songkla_012['temperature'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_012 = df_songkla_012[(np.abs(stats.zscore(df_songkla_012['pm_2_5'])) < 3)]  # ลบค่าผิดปกติออก
# Create lag features for the past 7 days
for lag in range(1, 8):  # Lags from 1 to 7 days
    df_songkla_012[f'pm_2_5_lag_{lag}'] = df_songkla_012['pm_2_5'].shift(lag)

In [12]:
df_songkla_012.describe()

,humidity,pm_2_5,temperature,dayofweek,month,day,pm_2_5_lag_1,pm_2_5_lag_2,pm_2_5_lag_3,pm_2_5_lag_4,pm_2_5_lag_5,pm_2_5_lag_6,pm_2_5_lag_7
count,10087.000000,10087.000000,10087.000000,10087.000000,10087.000000,10087.000000,10086.000000,10085.000000,10084.000000,10083.000000,10082.000000,10081.000000,10080.000000
mean,86.666860,13.622055,28.825914,3.015565,6.729454,15.276891,13.623113,13.624155,13.625069,13.625783,13.627074,13.628296,13.628170
std,12.842977,9.638869,1.988903,1.999518,3.047751,8.760839,9.638761,9.638671,9.638711,9.638923,9.638529,9.638226,9.638696
min,48.309731,0.082645,22.921875,0.000000,1.000000,1.000000,0.082645,0.082645,0.082645,0.082645,0.082645,0.082645,0.082645
25%,76.007861,6.074690,27.339335,1.000000,4.000000,8.000000,6.075000,6.075000,6.075000,6.075000,6.075118,6.075472,6.075354
50%,86.752073,11.316667,28.519558,3.000000,7.000000,15.000000,11.316667,11.316667,11.317997,11.319328,11.320821,11.322314,11.320821
75%,100.000000,19.098606,30.104313,5.000000,9.000000,23.000000,19.098890,19.099174,19.099380,19.099587,19.099793,19.100000,19.100000
max,100.000000,44.983471,35.658992,6.000000,12.000000,31.000000,44.983471,44.983471,44.983471,44.983471,44.983471,44.983471,44.983471

In [13]:
df_songkla_012.to_csv("data_preprocess/clean_data/clean_songkla_012.csv", index=True, encoding="utf-8")

In [14]:
df_songkla_013 = pd.read_csv('data_preprocess/raw_data/songkla_013-1h.csv', parse_dates=["timestamp"], index_col="timestamp")
df_songkla_013 = df_songkla_013.sort_values(by="timestamp")
df_songkla_013['dayofweek'] = df_songkla_013.index.dayofweek
df_songkla_013['month'] = df_songkla_013.index.month
df_songkla_013['day'] = df_songkla_013.index.day
# Drop NaN values caused by shifting
df_songkla_013.dropna(inplace=True)
df_songkla_013 = df_songkla_013.drop(columns=["Unnamed: 0", "timezone", "pm_2_5_sp"], axis=1)
df_songkla_013 = df_songkla_013[(np.abs(stats.zscore(df_songkla_013['humidity'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_013 = df_songkla_013[(np.abs(stats.zscore(df_songkla_013['temperature'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_013 = df_songkla_013[(np.abs(stats.zscore(df_songkla_013['pm_2_5'])) < 3)]  # ลบค่าผิดปกติออก
# Create lag features for the past 7 days
for lag in range(1, 8):  # Lags from 1 to 7 days
    df_songkla_013[f'pm_2_5_lag_{lag}'] = df_songkla_013['pm_2_5'].shift(lag)

In [15]:
df_songkla_013.describe()

,humidity,pm_2_5,temperature,dayofweek,month,day,pm_2_5_lag_1,pm_2_5_lag_2,pm_2_5_lag_3,pm_2_5_lag_4,pm_2_5_lag_5,pm_2_5_lag_6,pm_2_5_lag_7
count,22775.000000,22775.000000,22775.000000,22775.000000,22775.000000,22775.000000,22774.000000,22773.000000,22772.000000,22771.000000,22770.000000,22769.000000,22768.000000
mean,48.845648,14.634117,34.477968,3.003381,6.745950,15.690494,14.634455,14.634740,14.634948,14.634447,14.633995,14.633675,14.633603
std,8.633094,10.151311,2.979278,2.001544,3.467827,8.881402,10.151405,10.151537,10.151712,10.151653,10.151647,10.151755,10.151972
min,23.247423,0.150000,26.128387,0.000000,1.000000,1.000000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000
25%,42.904595,6.650000,32.352623,1.000000,4.000000,8.000000,6.650000,6.650000,6.650000,6.650000,6.650000,6.650000,6.649781
50%,49.581273,12.150000,34.154333,3.000000,7.000000,16.000000,12.150000,12.150000,12.150000,12.150000,12.150000,12.150000,12.150000
75%,55.022922,20.648529,36.392618,5.000000,10.000000,23.000000,20.649265,20.650000,20.650000,20.648529,20.646311,20.644068,20.644816
max,73.614297,46.975000,43.336500,6.000000,12.000000,31.000000,46.975000,46.975000,46.975000,46.975000,46.975000,46.975000,46.975000

In [16]:
df_songkla_013.to_csv("data_preprocess/clean_data/clean_songkla_013.csv", index=True, encoding="utf-8")

In [17]:
df_songkla_014 = pd.read_csv('data_preprocess/raw_data/songkla_014-1h.csv', parse_dates=["timestamp"], index_col="timestamp")
df_songkla_014 = df_songkla_014.sort_values(by="timestamp")
df_songkla_014['dayofweek'] = df_songkla_014.index.dayofweek
df_songkla_014['month'] = df_songkla_014.index.month
df_songkla_014['day'] = df_songkla_014.index.day
# Drop NaN values caused by shifting
df_songkla_014.dropna(inplace=True)
df_songkla_014 = df_songkla_014.drop(columns=["Unnamed: 0", "timezone", "pm_2_5_sp"], axis=1)
df_songkla_014 = df_songkla_014[(np.abs(stats.zscore(df_songkla_014['humidity'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_014 = df_songkla_014[(np.abs(stats.zscore(df_songkla_014['temperature'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_014 = df_songkla_014[(np.abs(stats.zscore(df_songkla_014['pm_2_5'])) < 3)]  # ลบค่าผิดปกติออก
# Create lag features for the past 7 days
for lag in range(1, 8):  # Lags from 1 to 7 days
    df_songkla_014[f'pm_2_5_lag_{lag}'] = df_songkla_014['pm_2_5'].shift(lag)

In [18]:
df_songkla_014.describe()

,humidity,pm_2_5,temperature,dayofweek,month,day,pm_2_5_lag_1,pm_2_5_lag_2,pm_2_5_lag_3,pm_2_5_lag_4,pm_2_5_lag_5,pm_2_5_lag_6,pm_2_5_lag_7
count,24598.000000,24598.000000,24598.000000,24598.000000,24598.000000,24598.000000,24597.000000,24596.000000,24595.000000,24594.000000,24593.000000,24592.000000,24591.000000
mean,68.680350,17.464539,29.962142,3.007562,6.714286,15.816205,17.464724,17.464804,17.464823,17.464018,17.462914,17.462163,17.461324
std,12.442369,12.320606,2.458919,2.004067,3.435630,8.879951,12.320822,12.321066,12.321316,12.320920,12.319954,12.319641,12.319189
min,31.260000,0.070000,24.110000,0.000000,1.000000,1.000000,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000
25%,60.130000,7.420000,28.090000,1.000000,4.000000,8.000000,7.420000,7.420000,7.420000,7.420000,7.420000,7.417500,7.415000
50%,69.090000,14.670000,29.630000,3.000000,7.000000,16.000000,14.670000,14.670000,14.670000,14.670000,14.670000,14.670000,14.670000
75%,76.850000,25.707500,31.567500,5.000000,10.000000,24.000000,25.710000,25.710000,25.710000,25.707500,25.700000,25.700000,25.695000
max,100.000000,56.980000,37.470000,6.000000,12.000000,31.000000,56.980000,56.980000,56.980000,56.980000,56.980000,56.980000,56.980000

In [19]:
df_songkla_014.to_csv("data_preprocess/clean_data/clean_songkla_014.csv", index=True, encoding="utf-8")

In [20]:
df_songkla_018 = pd.read_csv('data_preprocess/raw_data/songkla_018-1h.csv', parse_dates=["timestamp"], index_col="timestamp")
df_songkla_018 = df_songkla_018.sort_values(by="timestamp")
df_songkla_018['dayofweek'] = df_songkla_018.index.dayofweek
df_songkla_018['month'] = df_songkla_018.index.month
df_songkla_018['day'] = df_songkla_018.index.day
# Drop NaN values caused by shifting
df_songkla_018.dropna(inplace=True)
df_songkla_018 = df_songkla_018.drop(columns=["Unnamed: 0", "timezone", "pm_2_5_sp"], axis=1)
df_songkla_018 = df_songkla_018[(np.abs(stats.zscore(df_songkla_018['humidity'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_018 = df_songkla_018[(np.abs(stats.zscore(df_songkla_018['temperature'])) < 3)]  # ลบค่าผิดปกติออก
df_songkla_018 = df_songkla_018[(np.abs(stats.zscore(df_songkla_018['pm_2_5'])) < 3)]  # ลบค่าผิดปกติออก
# Create lag features for the past 7 days
for lag in range(1, 8):  # Lags from 1 to 7 days
    df_songkla_018[f'pm_2_5_lag_{lag}'] = df_songkla_018['pm_2_5'].shift(lag)

In [21]:
df_songkla_018.describe()

,humidity,pm_2_5,temperature,dayofweek,month,day,pm_2_5_lag_1,pm_2_5_lag_2,pm_2_5_lag_3,pm_2_5_lag_4,pm_2_5_lag_5,pm_2_5_lag_6,pm_2_5_lag_7
count,23327.000000,23327.000000,23327.000000,23327.000000,23327.000000,23327.000000,23326.000000,23325.000000,23324.000000,23323.000000,23322.000000,23321.000000,23320.000000
mean,72.892927,18.749357,28.281794,2.995242,6.482917,15.727054,18.749535,18.749680,18.749718,18.748918,18.748087,18.747510,18.747206
std,15.623121,12.487958,3.605417,2.009948,3.477213,8.905328,12.488196,12.488444,12.488711,12.488380,12.488003,12.487960,12.488141
min,10.394804,0.024793,5.907572,0.000000,1.000000,1.000000,0.024793,0.024793,0.024793,0.024793,0.024793,0.024793,0.024793
25%,62.681422,8.700000,26.171578,1.000000,3.000000,8.000000,8.700000,8.700000,8.700000,8.700000,8.700000,8.700000,8.700000
50%,75.381775,16.237288,27.737203,3.000000,7.000000,16.000000,16.237288,16.237288,16.237288,16.237288,16.237288,16.237288,16.235311
75%,84.807085,27.295161,30.263292,5.000000,9.000000,24.000000,27.297581,27.300000,27.300000,27.295161,27.290323,27.290323,27.290323
max,98.994736,58.983333,53.340333,6.000000,12.000000,31.000000,58.983333,58.983333,58.983333,58.983333,58.983333,58.983333,58.983333

In [22]:
df_songkla_018.to_csv("data_preprocess/clean_data/clean_songkla_018.csv", index=True, encoding="utf-8")

In [23]:
df_songkla_concat = pd.concat([df_engineer,df_songkla_001, df_songkla_014, df_songkla_018], ignore_index=False)

In [24]:
df_songkla_concat = df_songkla_concat.sort_values(by="timestamp")
df_songkla_concat = df_songkla_concat
df_songkla_concat = df_songkla_concat.drop(columns=['pm_10'], axis=1)

In [25]:
df_songkla_concat

,humidity,pm_2_5,temperature,dayofweek,month,day,pm_2_5_lag_1,pm_2_5_lag_2,pm_2_5_lag_3,pm_2_5_lag_4,pm_2_5_lag_5,pm_2_5_lag_6,pm_2_5_lag_7
timestamp,,,,,,,,,,,,,
2021-12-01 14:00:00,66.269500,2.000000,24.990000,2,12,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-01 15:00:00,60.997426,0.815789,25.950526,2,12,1,2.000000,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-01 16:00:00,61.093943,1.083333,26.178000,2,12,1,0.815789,2.000000,NaN,NaN,NaN,NaN,NaN
2021-12-01 17:00:00,61.953554,1.098361,26.292459,2,12,1,1.083333,0.815789,2.000000,NaN,NaN,NaN,NaN
2021-12-01 18:00:00,61.932943,1.133333,26.525667,2,12,1,1.098361,1.083333,0.815789,2.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-11 11:00:00,53.353909,31.842105,32.314087,1,2,11,40.848214,42.478992,43.263158,42.558333,37.806723,34.691667,35.283333
2025-02-11 11:12:18,52.840677,31.750000,32.533843,1,2,11,31.842105,40.848214,42.478992,43.263158,42.558333,37.806723,34.691667
2025-02-11 11:12:43,59.010000,12.920000,31.300000,1,2,11,15.500000,16.990000,37.260000,44.620000,35.930000,38.090000,39.530000
2025-02-11 11:13:14,62.618683,14.615385,30.839804,1,2,11,15.362069,17.850000,37.416667,38.133333,32.200000,25.847458,31.566667
2025-02-11 11:15:36,61.046112,21.000000,31.861472,1,2,11,21.850000,23.333333,38.800000,37.568627,31.325581,28.533333,28.383333

In [26]:
df_songkla_concat.to_csv("data_preprocess/clean_data/songkla_concat_data.csv", index=True, encoding="utf-8")

In [27]:
df_songkla_concat2 = pd.concat([df_songkla_001, df_songkla_014, df_songkla_018], ignore_index=False)

In [28]:
df_songkla_concat2 = df_songkla_concat2.sort_values(by="timestamp")
df_songkla_concat2 = df_songkla_concat2

In [29]:
df_songkla_concat2.to_csv("data_preprocess/clean_data/test_songkla_concat_data.csv", index=True, encoding="utf-8")